flows_data.home.json
[{"id":"20e7dcc.2cfd2a4","type":"tab","label":"SNMP","disabled":false,"info":""},{"id":"76facd22.0af3dc","type":"tab","label":"HW + Ping","disabled":false,"info":""},{"id":"915b9df4.4a3c88","type":"tab","label":"RTL","disabled":false,"info":""},{"id":"f6a57f4e.676208","type":"tab","label":"MQTT -> InfluxDB","disabled":false,"info":""},{"id":"8d5e13077672d855","type":"tab","label":"Power","disabled":false,"info":"","env":[]},{"id":"52f89531.2adadc","type":"tab","label":"GTFS","disabled":false,"info":""},{"id":"951db226.0212d","type":"tab","label":"Web app","disabled":false,"info":""},{"id":"e7576355.939458","type":"mqtt-broker","name":"mqtt.home","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97c4463.ad034b8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"41bbc0c.8d44bc","type":"sqlitedb","db":"/home/pi/.node-red/gtfs/gtfs.sqlite","mode":"RO"},{"id":"49154968216bfbb1","type":"prometheus-metric-config","name":"ping_latency_ms","help":"ping latency","labels":"host","mtype":"gauge"},{"id":"7e255360415ef7c7","type":"prometheus-metric-config","name":"hw_temperature_celsius","help":"temperature","labels":"device","mtype":"gauge"},{"id":"205844696db97663","type":"prometheus-metric-config","name":"hw_power_watts","help":"power in watts","labels":"device","mtype":"gauge"},{"id":"2b019b02f845a025","type":"prometheus-metric-config","name":"env_temperature_celsius","help":"temperature","labels":"location","mtype":"gauge"},{"id":"9f76d6e43b6d520f","type":"prometheus-metric-config","name":"env_humidity_percent","help":"humidity","labels":"location","mtype":"gauge"},{"id":"515db377faab0d81","type":"prometheus-metric-config","name":"env_rain_mm","help":"rain","labels":"location","mtype":"gauge"},{"id":"38d2348d.c4a9c4","type":"mqtt out","z":"20e7dcc.2cfd2a4","name":"","topic":"","qos":"","retain":"","broker":"e7576355.939458","x":1010,"y":260,"wires":[]},{"id":"1aadf571.2e4473","type":"inject","z":"20e7dcc.2cfd2a4","d":true,"name":"timer","props":[],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":100,"wires":[["d04a979e.885b8"]]},{"id":"fa6aa005.1e7d68","type":"function","z":"20e7dcc.2cfd2a4","name":"normalize value","func":"let item = msg.payload[0];\nlet value = item.value;\n\nif (item.type == 70) {\n    value = 0;\n    let i = item.value.length;\n    let multiplier = 1;\n    while (i --> 0) {\n        value += multiplier * item.value[i];\n        multiplier *= 256;\n    }\n}\n\nif (item.type == 66) { // fixme teplota z odroidu\n    value = value / 1000;\n}\n\nif (item.type == 2) { // fixme disk z odroidu\n    value *= 4096;\n}\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":220,"wires":[["38d2348d.c4a9c4"]]},{"id":"d04a979e.885b8","type":"file in","z":"20e7dcc.2cfd2a4","name":"","filename":"/home/pi/.node-red/snmp.txt","filenameType":"str","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":180,"y":260,"wires":[["1cde9380.b2c385"]]},{"id":"1cde9380.b2c385","type":"switch","z":"20e7dcc.2cfd2a4","name":"nonempty lines","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^#","vt":"str","case":false},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":260,"wires":[["2d3b9d08202abdc7"],["463aa295.6765cc"]]},{"id":"463aa295.6765cc","type":"function","z":"20e7dcc.2cfd2a4","name":"split line","func":"let parts = msg.payload.split(/\\s+/);\nmsg.host = parts[0];\nmsg.oid = parts[1];\nmsg.topic = parts[2];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":260,"wires":[["4e404275.de0664"]]},{"id":"4e404275.de0664","type":"snmp","z":"20e7dcc.2cfd2a4","host":"","community":"public","version":"2c","oids":"","timeout":5,"name":"","x":710,"y":260,"wires":[["fa6aa005.1e7d68","a1519af1a8408bbf"]]},{"id":"a1519af1a8408bbf","type":"debug","z":"20e7dcc.2cfd2a4","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":380,"wires":[]},{"id":"2d3b9d08202abdc7","type":"debug","z":"20e7dcc.2cfd2a4","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":180,"wires":[]},{"id":"c5681f19.6f20c","type":"mqtt out","z":"76facd22.0af3dc","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e7576355.939458","x":730,"y":280,"wires":[]},{"id":"3efe2a29.b65b86","type":"inject","z":"76facd22.0af3dc","name":"timer","props":[],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":320,"wires":[["52f1d439.14cd74","90ae1d7.c5655e"]]},{"id":"52f1d439.14cd74","type":"ping","z":"76facd22.0af3dc","mode":"triggered","name":"","host":"smaug.cz, oracle.toad.cz, ping-eu.ds.on.epicgames.com","timer":"30","inputs":1,"x":290,"y":220,"wires":[["5779ecd4.48449c","b039f72b4bd6cd25"]]},{"id":"5779ecd4.48449c","type":"function","z":"76facd22.0af3dc","d":true,"name":"set topic","func":"if (isNaN(msg.payload)) { return null; }\nmsg.topic = `ping/host=${msg.topic}/latency`;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":220,"wires":[["c5681f19.6f20c"]]},{"id":"90ae1d7.c5655e","type":"cpu","z":"76facd22.0af3dc","d":true,"name":"CPU usage + temperature","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":true,"x":360,"y":380,"wires":[["b10fa7cc.6cdf28"]]},{"id":"b10fa7cc.6cdf28","type":"function","z":"76facd22.0af3dc","name":"","func":"switch (msg.topic) {\n    case \"temperature\":\n        msg.topic = \"hw/device=data.home/temperature\";\n    break;\n    \n    case \"overall\":\n        msg.topic = \"hw/device=data.home/cpu\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["c5681f19.6f20c"]]},{"id":"62971b2f04a8cf77","type":"prometheus-exporter","z":"76facd22.0af3dc","name":"","metric":"49154968216bfbb1","x":750,"y":120,"wires":[]},{"id":"b039f72b4bd6cd25","type":"function","z":"76facd22.0af3dc","name":"generate metric","func":"if (isNaN(msg.payload)) { return null; }\n\nmsg.payload = {\n    op: \"set\",\n    val: msg.payload,\n    labels: {\n        host: msg.topic\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["62971b2f04a8cf77"]]},{"id":"a9ca4be3.ef5358","type":"rtl_433","z":"915b9df4.4a3c88","name":"","device":"","frequency":"","protocols":"19 37 47 52","flexgetter":"","expert":"","supressChirp":false,"x":150,"y":260,"wires":[["2748d004.f510f"]]},{"id":"2748d004.f510f","type":"function","z":"915b9df4.4a3c88","name":"","func":"function matchLocation(msg, def) {\n    for (let key in def) {\n        if (msg.payload[key] != def[key]) { return false; }\n    }\n    return true;\n}\n\nfunction getLocation(msg) {\n    for (let location in WELL_KNOWN) {\n        if (matchLocation(msg, WELL_KNOWN[location])) { return location; }\n    }\n\n    let location = msg.payload.model;\n    if (\"channel\" in msg.payload) { location = `${location}@${msg.payload.channel}`; }\n    return location;\n}\n\nfunction f2c(f) { \n    let c = (f-32)*(5/9);\n    return +c.toFixed(1);\n}\n\nconst IGNORE = [\n    \"TFA-TwinPlus@0\", \"TFA-TwinPlus@1\" // dupe s inovalley\n];\n\nconst WELL_KNOWN = {\n    \"zahrada\": {\n        model: \"Nexus-TH\",\n        channel: \"2\"\n    },\n\n    \"pracovna\": {\n        model: \"Nexus-TH\",\n        channel: \"3\"\n    },\n    \n    \"mw\": {\n        model: \"Inovalley-kw9015b\",\n        id: 5\n    }\n}\n\nlet location = getLocation(msg);\nif (IGNORE.includes(location)) { return null; }\nlet forward = [], discard = null;\nlet prefix = `env/location=${location}`;\n\nswitch (msg.payload.model) {\n    case \"Nexus-T\":\n        forward.push({\n            payload: msg.payload.temperature_C,\n            topic: `${prefix}/temperature`\n        });\n    break;\n    \n    case \"Nexus-TH\":\n    case \"TFA-TwinPlus\":\n        forward.push({\n            payload: msg.payload.temperature_C,\n            topic: `${prefix}/temperature`\n        });\n        let h = msg.payload.humidity;\n        if (h >= 0) {\n            forward.push({\n                payload: h,\n                topic: `${prefix}/humidity`\n            });\n        }\n        discard = msg;\n    break;\n\n    case \"Bresser-3CH\":\n    case \"Conrad-S3318P\":\n        forward.push({\n            payload: f2c(msg.payload.temperature_F),\n            topic: `${prefix}/temperature`\n        });\n        forward.push({\n            payload: msg.payload.humidity,\n            topic: `${prefix}/humidity`\n        });\n    break;\n    \n    case \"Inovalley-kw9015b\":\n        forward.push({\n            payload: msg.payload.temperature_C,\n            topic: `${prefix}/temperature`\n        });\n        forward.push({\n            payload: msg.payload.rain_mm,\n            topic: `${prefix}/rain`\n        });\n//        discard = msg;\n    break;\n    \n    default: discard = msg; break;\n}\n\nreturn [forward, discard];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["429bc19f.72ae88"],["8d486f6c.6c1fb8"]]},{"id":"429bc19f.72ae88","type":"mqtt out","z":"915b9df4.4a3c88","name":"","topic":"","qos":"","retain":"","broker":"e7576355.939458","x":770,"y":200,"wires":[]},{"id":"8d486f6c.6c1fb8","type":"file","z":"915b9df4.4a3c88","name":"","filename":"/home/pi/.node-red/rtl433.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":830,"y":360,"wires":[[]]},{"id":"c1ce54d8.4a2128","type":"mqtt in","z":"f6a57f4e.676208","name":"","topic":"#","qos":"0","datatype":"auto","broker":"e7576355.939458","inputs":0,"x":150,"y":260,"wires":[["be247c4a.b95d98","eb1361f7578273d4"]]},{"id":"baccf847.dab4c8","type":"influxdb out","z":"f6a57f4e.676208","influxdb":"97c4463.ad034b8","name":"","measurement":"","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":830,"y":320,"wires":[]},{"id":"be247c4a.b95d98","type":"function","z":"f6a57f4e.676208","d":true,"name":"Topic -> Tags & Fields","func":"let fields = {};\nlet tags = {};\nlet parts = msg.topic.split(\"/\");\n\nmsg.measurement = parts.shift();\nwhile (parts.length > 1) {\n    let [name, value] = parts.shift().split(\"=\");\n    tags[name] = value;\n}\nfields[parts.shift()] = Number(msg.payload);\n\nmsg.payload = [fields, tags];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["85226aea.b81658","baccf847.dab4c8"]]},{"id":"85226aea.b81658","type":"debug","z":"f6a57f4e.676208","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"0356e785f0bfbbce","type":"prometheus-exporter","z":"f6a57f4e.676208","name":"","metric":"2b019b02f845a025","x":700,"y":440,"wires":[]},{"id":"67c9f31575e4460b","type":"prometheus-exporter","z":"f6a57f4e.676208","name":"","metric":"9f76d6e43b6d520f","x":690,"y":500,"wires":[]},{"id":"b40201ab3e5f49a4","type":"prometheus-exporter","z":"f6a57f4e.676208","name":"","metric":"515db377faab0d81","x":660,"y":560,"wires":[]},{"id":"eb1361f7578273d4","type":"function","z":"f6a57f4e.676208","name":"Create metrics","func":"let output = [null, null, null];\n\nfunction createMetric(val, location) {\n    return {\n        payload: {\n            op: \"set\",\n            val,\n            labels: { location }\n        }\n    }\n}\n\nlet parts = msg.topic.split(\"/\");\nlet measurement = parts.shift();\nif (measurement == \"env\") {\n    let tags = {};\n    let type = parts.pop();\n    let val = Number(msg.payload);\n    while (parts.length > 0) {\n        let [name, value] = parts.shift().split(\"=\");\n        tags[name] = value;\n    }\n    switch (type) {\n        case \"temperature\":\n            output[0] = createMetric(val, tags.location);\n        break;\n        case \"humidity\":\n            output[1] = createMetric(val, tags.location);\n        break;\n        case \"rain\":\n            output[2] = createMetric(val, tags.location);\n        break;\n    }\n}\n\nreturn output;\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["0356e785f0bfbbce"],["67c9f31575e4460b"],["b40201ab3e5f49a4"]]},{"id":"e5aacf2583b6be76","type":"inject","z":"8d5e13077672d855","name":"","props":[],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":280,"wires":[["75b847af8efe1a7d"]]},{"id":"5afde172bd8f91a5","type":"http request","z":"8d5e13077672d855","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":410,"y":280,"wires":[["0b8b81298eb860ed","62dbfa4e30386671"]]},{"id":"4c6c29fb59db713e","type":"debug","z":"8d5e13077672d855","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":280,"wires":[]},{"id":"0b8b81298eb860ed","type":"function","z":"8d5e13077672d855","d":true,"name":"function 1","func":"let device = msg.url.match(/\\/\\/(.*?)\\//)[1];\n\nfunction createTopic(type) {\n    return `hw/device=${device}/${type}`;\n}\n\nreturn [[{\n    topic: createTopic(\"power\"),\n    payload: msg.payload.meters[0].power\n}, {\n    topic: createTopic(\"temperature\"),\n    payload: msg.payload.temperature\n}]];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":280,"wires":[["4c6c29fb59db713e","b2313db6a0bc61ab"]]},{"id":"b2313db6a0bc61ab","type":"mqtt out","z":"8d5e13077672d855","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e7576355.939458","x":750,"y":340,"wires":[]},{"id":"75b847af8efe1a7d","type":"function","z":"8d5e13077672d855","name":"function 2","func":"let locations = [\"pracovna\", \"herna\"];\n\nreturn [locations.map(location => {\n    let url = `http://shelly-${location}.home/status`;\n    return {url};\n})];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":280,"wires":[["5afde172bd8f91a5"]]},{"id":"62dbfa4e30386671","type":"function","z":"8d5e13077672d855","name":"generate metric","func":"let device = msg.url.match(/\\/\\/(.*?)\\//)[1];\n\nfunction createMetric(val) {\n    return {\n        payload: {\n            op: \"set\",\n            val,\n            labels: { device }\n        }\n    }\n}\n\nreturn [\n    createMetric(msg.payload.temperature),\n    createMetric(msg.payload.meters[0].power)\n];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":440,"wires":[["56088d3e9acd783e"],["26bf47807ec1070d"]]},{"id":"56088d3e9acd783e","type":"prometheus-exporter","z":"8d5e13077672d855","name":"","metric":"7e255360415ef7c7","x":1030,"y":420,"wires":[]},{"id":"26bf47807ec1070d","type":"prometheus-exporter","z":"8d5e13077672d855","name":"","metric":"205844696db97663","x":1010,"y":500,"wires":[]},{"id":"48858075.8ab08","type":"http response","z":"52f89531.2adadc","name":"","statusCode":"","headers":{},"x":950,"y":420,"wires":[]},{"id":"cb8b9789.510358","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"prepared","sql":"SELECT DISTINCT routes.route_id, route_short_name\nFROM stops\nLEFT JOIN stop_times ON stops.stop_id=stop_times.stop_id\nLEFT JOIN trips ON stop_times.trip_id=trips.trip_id\nLEFT JOIN routes ON trips.route_id=routes.route_id\nWHERE stop_name = $stop\n","name":"GTFS stop -> lines","x":530,"y":140,"wires":[["48858075.8ab08"]]},{"id":"3ed9aace.3c23ae","type":"catch","z":"52f89531.2adadc","name":"","scope":null,"uncaught":true,"x":400,"y":540,"wires":[["d547a9e9.5f828"]]},{"id":"2dd09b3d.b0a424","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"prepared","sql":"SELECT DISTINCT trip_headsign\nFROM stops\nLEFT JOIN stop_times ON stops.stop_id=stop_times.stop_id\nLEFT JOIN trips ON stop_times.trip_id=trips.trip_id\nWHERE stop_name = $stop\n","name":"GTFS stop -> headsigns","x":550,"y":220,"wires":[["48858075.8ab08"]]},{"id":"4b5a6b31.081304","type":"http in","z":"52f89531.2adadc","name":"","url":"/gtfs/:what","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["f880f691.c74fa8"]]},{"id":"f880f691.c74fa8","type":"switch","z":"52f89531.2adadc","name":"","property":"req.params.what","propertyType":"msg","rules":[{"t":"eq","v":"stops","vt":"str"},{"t":"eq","v":"lines","vt":"str"},{"t":"eq","v":"headsigns","vt":"str"},{"t":"eq","v":"departures","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":170,"y":320,"wires":[["e05706f1.005378"],["e07f84cb.b6a398"],["8aaf7512.8307e8"],["6255257b.6ed96c"],["477052e.84df42c"]]},{"id":"477052e.84df42c","type":"change","z":"52f89531.2adadc","name":"404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"Not Found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":420,"wires":[["48858075.8ab08"]]},{"id":"d547a9e9.5f828","type":"change","z":"52f89531.2adadc","name":"500","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[["48858075.8ab08"]]},{"id":"6255257b.6ed96c","type":"function","z":"52f89531.2adadc","name":"validate + build query","func":"const DAYS = [\"sunday\", \"monday\", \"tuesday\", \"wednesday\", \"thursday\", \"friday\", \"saturday\"];\nfunction escape(x) { return `'${x.replace(/'/g, \"''\")}'`; }\n\nlet params = {};\n[\"stop_ids\", \"trip_headsign\", \"route_id\"].forEach(p => {\n    if (p in msg.payload) {\n        let v = msg.payload[p];\n        params[p] = (p == \"stop_ids\" ? v.split(\",\").map(escape) : escape(v));\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\n\nlet date = new Date();\nif (msg.payload.date) {\n    let parts = msg.payload.date.split(\"-\").map(Number);\n    date.setFullYear(parts.shift());\n    date.setMonth(parts.shift()-1);\n    date.setDate(parts.shift());\n}\nlet d = [\n\tdate.getFullYear(),\n\t(date.getMonth()+1).toString().padStart(2, \"0\"),\n\tdate.getDate().toString().padStart(2, \"0\")\n].join(\"\");\nlet dow = DAYS[date.getDay()];\n\nmsg.topic = `\nSELECT departure_time\nFROM stop_times\nLEFT JOIN trips ON trips.trip_id = stop_times.trip_id\nWHERE \n    stop_id IN (\n        ${params.stop_ids.join(\",\")} \n    )\n    AND trip_headsign = ${params.trip_headsign}\n    AND route_id = ${params.route_id}\n    AND service_id IN (\n        SELECT service_id\n        FROM calendar \n        WHERE ${dow}=1 AND start_date <= '${d}' AND end_date >= '${d}'\n        UNION SELECT service_id\n        FROM calendar_dates\n        WHERE date = '${d}' AND exception_type = 1\n        EXCEPT SELECT service_id\n        FROM calendar_dates\n        WHERE date = '${d}' AND exception_type=2\n    )\n`;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["83d7aaa2.a6d1f8"]]},{"id":"83d7aaa2.a6d1f8","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"msg.topic","sql":"","name":"GTFS departures","x":650,"y":300,"wires":[["61281dfa.e51454"]]},{"id":"61281dfa.e51454","type":"function","z":"52f89531.2adadc","name":"sort","func":"function toNumber(time) { return Number(time.replace(/\\D/g, \"\")); }\n\nfunction CMP(a, b) {\n    return toNumber(a) - toNumber(b);\n}\n\nmsg.payload = msg.payload.map(item => item[\"departure_time\"]);\nmsg.payload.sort(CMP)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":380,"wires":[["48858075.8ab08"]]},{"id":"c69a1ba6.7eacb","type":"change","z":"52f89531.2adadc","name":"400","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["48858075.8ab08"]]},{"id":"e07f84cb.b6a398","type":"function","z":"52f89531.2adadc","name":"validate","func":"msg.params = {};\n[\"stop\"].forEach(p => {\n    if (p in msg.payload) {\n        msg.params[\"$\" + p] = msg.payload[p];\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["cb8b9789.510358"]]},{"id":"44a7fa4a.f0bc9c","type":"catch","z":"52f89531.2adadc","name":"","scope":["6255257b.6ed96c","e07f84cb.b6a398","8aaf7512.8307e8"],"uncaught":false,"x":430,"y":480,"wires":[["c69a1ba6.7eacb"]]},{"id":"8aaf7512.8307e8","type":"function","z":"52f89531.2adadc","name":"validate","func":"msg.params = {};\n[\"stop\"].forEach(p => {\n    if (p in msg.payload) {\n        msg.params[\"$\" + p] = msg.payload[p];\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["2dd09b3d.b0a424"]]},{"id":"83e3deec.1d2778","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"prepared","sql":"SELECT stop_id\nFROM stops\nWHERE stop_name = $stop\n","name":"GTFS stop -> stop_ids","x":540,"y":80,"wires":[["48858075.8ab08"]]},{"id":"e05706f1.005378","type":"function","z":"52f89531.2adadc","name":"validate","func":"msg.params = {};\n[\"stop\"].forEach(p => {\n    if (p in msg.payload) {\n        msg.params[\"$\" + p] = msg.payload[p];\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["83e3deec.1d2778"]]},{"id":"82ab14cc.aef0f8","type":"http in","z":"951db226.0212d","name":"","url":"/app/static/:file","method":"get","upload":false,"swaggerDoc":"","x":230,"y":300,"wires":[["d537d6d1.0b97f8"]]},{"id":"585633e6.06419c","type":"file in","z":"951db226.0212d","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":300,"wires":[["b1cd2552.4cf22"]]},{"id":"c59a91c8.bf72b8","type":"http response","z":"951db226.0212d","name":"","statusCode":"","headers":{},"x":1030,"y":300,"wires":[]},{"id":"89c09555.abace","type":"http in","z":"951db226.0212d","name":"","url":"/app","method":"get","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["a81c4d46.2b7cd8"]]},{"id":"cb3ebbea.5e0278","type":"function","z":"951db226.0212d","name":"resolve path","func":"msg.filename = `/home/pi/.node-red/app/${msg.filename}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["585633e6.06419c"]]},{"id":"a81c4d46.2b7cd8","type":"function","z":"951db226.0212d","name":"resolve file","func":"let results = [null, null];\n\nif (msg.req.url.endsWith(\"/\")) {\n    msg.filename = \"index.html\"\n    results[0] = msg;\n} else {\n    msg.statusCode = 302;\n    msg.headers = {location:\"/app/\"};\n    results[1] = msg;\n}\nreturn results;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["cb3ebbea.5e0278"],["c59a91c8.bf72b8"]]},{"id":"d537d6d1.0b97f8","type":"function","z":"951db226.0212d","name":"resolve file","func":"msg.filename = `static/${msg.req.params.file}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":300,"wires":[["cb3ebbea.5e0278"]]},{"id":"ab6bebd6.c9d79","type":"catch","z":"951db226.0212d","name":"","scope":null,"uncaught":false,"x":880,"y":440,"wires":[["b2143873.ca476"]]},{"id":"b2143873.ca476","type":"function","z":"951db226.0212d","name":"404","func":"msg.statusCode = 404;\nmsg.payload = \"404 Not Found\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":440,"wires":[["c59a91c8.bf72b8"]]},{"id":"b1cd2552.4cf22","type":"function","z":"951db226.0212d","name":"content type","func":"const types = {\n    \"js\": \"application/javascript\",\n    \"css\": \"text/css\",\n    \"html\": \"text/html\"\n}\nlet ext = msg.filename.split(\".\").pop();\nlet headers = {};\nif (ext in types) {\n    headers[\"content-type\"] = types[ext];\n}\nmsg.headers = headers;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["c59a91c8.bf72b8"]]},{"id":"94dce980.80cd18","type":"http in","z":"951db226.0212d","name":"","url":"/app/main","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["5d921fd2.6a2c3"]]},{"id":"5d921fd2.6a2c3","type":"function","z":"951db226.0212d","name":"resolve file","func":"msg.filename = \"main.html\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["cb3ebbea.5e0278"]]},{"id":"3372e791.4e123","type":"http in","z":"951db226.0212d","name":"","url":"/app/weather/current","method":"get","upload":false,"swaggerDoc":"","x":250,"y":420,"wires":[["436db051.95cd9"]]},{"id":"436db051.95cd9","type":"influxdb in","z":"951db226.0212d","d":true,"influxdb":"97c4463.ad034b8","name":"get current","query":"SELECT * \nFROM env \nWHERE (\n  location = 'zahrada'\n) AND time > now() - 1h\nORDER BY time DESC\nLIMIT 1\n","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":430,"y":420,"wires":[["c59a91c8.bf72b8"]]}]