flows_data.home.json
[{"id":"20e7dcc.2cfd2a4","type":"tab","label":"SNMP","disabled":false,"info":""},{"id":"76facd22.0af3dc","type":"tab","label":"HW + Ping","disabled":false,"info":""},{"id":"f6a57f4e.676208","type":"tab","label":"MQTT -> InfluxDB","disabled":false,"info":""},{"id":"915b9df4.4a3c88","type":"tab","label":"RTL + BT","disabled":false,"info":""},{"id":"8a9205c0.84e56","type":"tab","label":"Weather Forecast","disabled":false,"info":""},{"id":"52f89531.2adadc","type":"tab","label":"GTFS","disabled":false,"info":""},{"id":"951db226.0212d","type":"tab","label":"Web app","disabled":false,"info":""},{"id":"e7576355.939458","type":"mqtt-broker","z":"","name":"mqtt.home","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97c4463.ad034b8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"","usetls":false,"tls":""},{"id":"41bbc0c.8d44bc","type":"sqlitedb","z":"","db":"/home/pi/.node-red/gtfs/gtfs.sqlite","mode":"RO"},{"id":"38d2348d.c4a9c4","type":"mqtt out","z":"20e7dcc.2cfd2a4","name":"","topic":"","qos":"","retain":"","broker":"e7576355.939458","x":1010,"y":260,"wires":[]},{"id":"d7886e7.bd5e89","type":"debug","z":"20e7dcc.2cfd2a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":880,"wires":[]},{"id":"1aadf571.2e4473","type":"inject","z":"20e7dcc.2cfd2a4","name":"timer","props":[],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":60,"wires":[["d04a979e.885b8"]]},{"id":"fa6aa005.1e7d68","type":"function","z":"20e7dcc.2cfd2a4","name":"normalize value","func":"let item = msg.payload[0];\nlet value = item.value;\n\nif (item.type == 70) {\n    value = 0;\n    let i = item.value.length;\n    let multiplier = 1;\n    while (i --> 0) {\n        value += multiplier * item.value[i];\n        multiplier *= 256;\n    }\n}\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":260,"wires":[["38d2348d.c4a9c4"]]},{"id":"c1ce54d8.4a2128","type":"mqtt in","z":"f6a57f4e.676208","name":"","topic":"#","qos":"0","datatype":"auto","broker":"e7576355.939458","x":150,"y":260,"wires":[["be247c4a.b95d98"]]},{"id":"baccf847.dab4c8","type":"influxdb out","z":"f6a57f4e.676208","influxdb":"97c4463.ad034b8","name":"","measurement":"","precision":"s","retentionPolicy":"","x":830,"y":320,"wires":[]},{"id":"be247c4a.b95d98","type":"function","z":"f6a57f4e.676208","name":"Topic -> Tags & Fields","func":"let fields = {};\nlet tags = {};\nlet parts = msg.topic.split(\"/\");\n\nmsg.measurement = parts.shift();\nwhile (parts.length > 1) {\n    let [name, value] = parts.shift().split(\"=\");\n    tags[name] = value;\n}\nfields[parts.shift()] = Number(msg.payload);\n\nmsg.payload = [fields, tags];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["85226aea.b81658","baccf847.dab4c8"]]},{"id":"85226aea.b81658","type":"debug","z":"f6a57f4e.676208","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":180,"wires":[]},{"id":"c5681f19.6f20c","type":"mqtt out","z":"76facd22.0af3dc","name":"","topic":"","qos":"","retain":"","broker":"e7576355.939458","x":790,"y":260,"wires":[]},{"id":"3efe2a29.b65b86","type":"inject","z":"76facd22.0af3dc","name":"timer","props":[],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":320,"wires":[["acb4eb93.214c3","52f1d439.14cd74"]]},{"id":"52f1d439.14cd74","type":"ping","z":"76facd22.0af3dc","mode":"triggered","name":"","host":"smaug.cz, 195.122.154.1","timer":"30","inputs":1,"x":290,"y":420,"wires":[["5779ecd4.48449c"]]},{"id":"acb4eb93.214c3","type":"exec","z":"76facd22.0af3dc","command":"awk -v ORS='' '{print $1/1000}' /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"temperature","x":310,"y":240,"wires":[["a0d2e848.2fa77"],[],[]]},{"id":"a0d2e848.2fa77","type":"change","z":"76facd22.0af3dc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"hw/device=data.home/temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["c5681f19.6f20c"]]},{"id":"d04a979e.885b8","type":"file in","z":"20e7dcc.2cfd2a4","name":"","filename":"/home/pi/.node-red/snmp.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":200,"y":260,"wires":[["1cde9380.b2c385"]]},{"id":"1cde9380.b2c385","type":"switch","z":"20e7dcc.2cfd2a4","name":"nonempty lines","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":260,"wires":[["463aa295.6765cc"]]},{"id":"463aa295.6765cc","type":"function","z":"20e7dcc.2cfd2a4","name":"split line","func":"let parts = msg.payload.split(/\\s+/);\nmsg.host = parts[0];\nmsg.oid = parts[1];\nmsg.topic = parts[2];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["4e404275.de0664"]]},{"id":"4e404275.de0664","type":"snmp","z":"20e7dcc.2cfd2a4","host":"","community":"public","version":"2c","oids":"","timeout":5,"name":"","x":710,"y":260,"wires":[["fa6aa005.1e7d68"]]},{"id":"a9ca4be3.ef5358","type":"rtl_433","z":"915b9df4.4a3c88","name":"","frequency":"","protocols":"19 31 37 52","x":220,"y":260,"wires":[["2748d004.f510f"]]},{"id":"2748d004.f510f","type":"function","z":"915b9df4.4a3c88","name":"","func":"const IGNORE = [\n    \"Nexus-T@1\", \"Nexus-TH@1\", \"TFA-TwinPlus@1\", // irregular data\n    \"TFA-TwinPlus@0\" // dupe with Inovalley-kw9015b\n];\n\nlet location = msg.payload.model;\nif (\"channel\" in msg.payload) { location = `${location}@${msg.payload.channel}`; }\nif (IGNORE.includes(location)) { return null; }\n\nlet forward = [], discard = null;\nlet prefix = `env/location=${location}`;\n\nfunction f2c(f) { return (f-32)*(5/9); }\n\nswitch (msg.payload.model) {\n    case \"Nexus-T\":\n        forward.push({\n            payload: msg.payload.temperature_C,\n            topic: `${prefix}/temperature`\n        });\n    break;\n    \n    case \"Nexus-TH\":\n    case \"TFA-TwinPlus\":\n        forward.push({\n            payload: msg.payload.temperature_C,\n            topic: `${prefix}/temperature`\n        });\n        let h = msg.payload.humidity;\n        if (h >= 0 && h <= 100) {\n            forward.push({\n            payload: h,\n            topic: `${prefix}/humidity`\n            });\n        }\n    break;\n\n    case \"Bresser-3CH\":\n        forward.push({\n            payload: f2c(msg.payload.temperature_F),\n            topic: `${prefix}/temperature`\n        });\n        forward.push({\n            payload: msg.payload.humidity,\n            topic: `${prefix}/humidity`\n        });\n    break;\n    \n    case \"Inovalley-kw9015b\":\n//        if (msg.payload.id != 78) { break; }\n        forward.push({\n            payload: msg.payload.temperature_C,\n            topic: `${prefix}/temperature`\n        });\n        forward.push({\n            payload: msg.payload.rain,\n            topic: `${prefix}/rain`\n        });\n    break;\n    \n    default: discard = msg; break;\n}\n\nreturn [forward, discard];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":420,"y":260,"wires":[["429bc19f.72ae88"],["8d486f6c.6c1fb8"]]},{"id":"429bc19f.72ae88","type":"mqtt out","z":"915b9df4.4a3c88","name":"","topic":"","qos":"","retain":"","broker":"e7576355.939458","x":770,"y":180,"wires":[]},{"id":"8d486f6c.6c1fb8","type":"file","z":"915b9df4.4a3c88","name":"","filename":"/home/pi/.node-red/rtl433.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":760,"y":360,"wires":[[]]},{"id":"47d2a56c.8f2ac4","type":"http request","z":"8a9205c0.84e56","name":"api.met.no","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.met.no/weatherapi/locationforecast/2.0/compact","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":220,"wires":[["d2d078da.0785a"]]},{"id":"8e3d8746.56a768","type":"inject","z":"8a9205c0.84e56","name":"hourly","props":[],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":300,"wires":[["33ec6c1a.9d1dec"]]},{"id":"dbd56371.3fb2a8","type":"influxdb batch","z":"8a9205c0.84e56","influxdb":"97c4463.ad034b8","precision":"","retentionPolicy":"","name":"","x":920,"y":240,"wires":[]},{"id":"d2d078da.0785a","type":"function","z":"8a9205c0.84e56","name":"","func":"const HOUR = 1000*60*60;\nfunction CMP(a, b) { return a.hours - b.hours; }\n\nfunction getNext(data) {\n    let items = Object.keys(data).filter(k => k != \"instant\").map(k => {\n        return {\n            hours: Number(k.replace(/\\D/g, \"\")),\n            data: data[k]\n        }\n    });\n    if (!items.length) { return \"\"; }\n    items.sort(CMP);\n    return items[0].data;\n}\n\nfunction itemToPoint(item) {\n    let instant = item.data.instant.details;\n    let next = getNext(item.data);\n    let timestamp = new Date(item.time).getTime() / HOUR;\n    return {\n        measurement: \"weather\",\n        timestamp,\n        tags: {\n            location: msg.location,\n            provider: \"met.no\"\n        },\n        fields: {\n            temperature: instant.air_temperature,\n            pressure: instant.air_pressure_at_sea_level,\n            clouds: instant.cloud_area_fraction,\n            humidity: instant.relative_humidity,\n            wind_speed: instant.wind_speed,\n            wind_direction: instant.wind_from_direction,\n            symbol: (next ? next.summary.symbol_code : \"\"),\n            rain: (next ? next.details.precipitation_amount : 0)\n        }\n    }\n}\nlet data = msg.payload.properties.timeseries.map(itemToPoint);\nmsg.payload = data;\nmsg.precision = \"h\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["dbd56371.3fb2a8"]]},{"id":"d9e0b2d7.7e1be","type":"http request","z":"8a9205c0.84e56","name":"api.openweathermap.org","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":380,"wires":[["636a1be5.4636fc"]]},{"id":"636a1be5.4636fc","type":"function","z":"8a9205c0.84e56","name":"","func":"const HOUR = 60*60;\n\nfunction itemToPoint(item) {\n    let rain = item.rain ? item.rain[\"1h\"] : 0;\n    return {\n        measurement: \"weather\",\n        timestamp: item.dt / HOUR,\n        tags: {\n            location: msg.location,\n            provider: \"openweather\"\n        },\n        fields: {\n            temperature: item.temp,\n            pressure: item.pressure,\n            clouds: item.clouds,\n            humidity: item.humidity,\n            wind_speed: item.wind_speed,\n            wind_direction: item.wind_deg,\n            rain\n        }\n    }\n}\nlet data = msg.payload.hourly.map(itemToPoint);\nmsg.payload = data;\nmsg.precision = \"h\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":380,"wires":[["dbd56371.3fb2a8"]]},{"id":"33ec6c1a.9d1dec","type":"function","z":"8a9205c0.84e56","name":"location","func":"const location = \"modrany\";\nconst locations = {\n    \"modrany\": {lon:14.41, lat:50.01}\n}\n\nmsg.payload = locations[location]\nmsg.location = location;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":300,"wires":[["e764eb87.b847b","216ea720.c06618"]]},{"id":"e764eb87.b847b","type":"function","z":"8a9205c0.84e56","name":"set UA","func":"msg.headers = {\"User-Agent\": \"node-red\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["47d2a56c.8f2ac4"]]},{"id":"26d9fb01.15d774","type":"function","z":"8a9205c0.84e56","name":"params","func":"msg.payload.exclude = \"current,daily\";\nmsg.payload.units = \"metric\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":380,"wires":[["d9e0b2d7.7e1be"]]},{"id":"5779ecd4.48449c","type":"function","z":"76facd22.0af3dc","name":"set topic","func":"if (isNaN(msg.payload)) { return null; }\nmsg.topic = `ping/host=${msg.topic}/latency`;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["c5681f19.6f20c"]]},{"id":"32c33b4f.8af2dc","type":"Xiaomi BLE","z":"915b9df4.4a3c88","name":"","address":"58:2D:34:3B:38:8D","scanningTimeout":60,"x":370,"y":120,"wires":[["662d9ee8.fc7488"]]},{"id":"1599b763.e0bb61","type":"inject","z":"915b9df4.4a3c88","name":"timer","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":120,"wires":[["32c33b4f.8af2dc"]]},{"id":"662d9ee8.fc7488","type":"function","z":"915b9df4.4a3c88","name":"","func":"let prefix = `env/location=pracovna`;\nlet messages = [];\nif (\"temperature\" in msg.payload) {\n    messages.push({\n        topic: `${prefix}/temperature`,\n        payload: msg.payload.temperature\n    });\n}\nif (\"humidity\" in msg.payload) {\n    messages.push({\n        topic: `${prefix}/humidity`,\n        payload: msg.payload.humidity\n    });\n}\n    \nreturn [messages];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["429bc19f.72ae88"]]},{"id":"82ab14cc.aef0f8","type":"http in","z":"951db226.0212d","name":"","url":"/app/static/:file","method":"get","upload":false,"swaggerDoc":"","x":230,"y":300,"wires":[["d537d6d1.0b97f8"]]},{"id":"585633e6.06419c","type":"file in","z":"951db226.0212d","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":300,"wires":[["b1cd2552.4cf22"]]},{"id":"c59a91c8.bf72b8","type":"http response","z":"951db226.0212d","name":"","statusCode":"","headers":{},"x":1030,"y":300,"wires":[]},{"id":"89c09555.abace","type":"http in","z":"951db226.0212d","name":"","url":"/app","method":"get","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["a81c4d46.2b7cd8"]]},{"id":"cb3ebbea.5e0278","type":"function","z":"951db226.0212d","name":"resolve path","func":"msg.filename = `/home/pi/.node-red/app/${msg.filename}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["585633e6.06419c"]]},{"id":"a81c4d46.2b7cd8","type":"function","z":"951db226.0212d","name":"resolve file","func":"let results = [null, null];\n\nif (msg.req.url.endsWith(\"/\")) {\n    msg.filename = \"index.html\"\n    results[0] = msg;\n} else {\n    msg.statusCode = 302;\n    msg.headers = {location:\"/app/\"};\n    results[1] = msg;\n}\nreturn results;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["cb3ebbea.5e0278"],["c59a91c8.bf72b8"]]},{"id":"d537d6d1.0b97f8","type":"function","z":"951db226.0212d","name":"resolve file","func":"msg.filename = `static/${msg.req.params.file}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":300,"wires":[["cb3ebbea.5e0278"]]},{"id":"ab6bebd6.c9d79","type":"catch","z":"951db226.0212d","name":"","scope":null,"uncaught":false,"x":880,"y":440,"wires":[["b2143873.ca476"]]},{"id":"b2143873.ca476","type":"function","z":"951db226.0212d","name":"404","func":"msg.statusCode = 404;\nmsg.payload = \"404 Not Found\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":440,"wires":[["c59a91c8.bf72b8"]]},{"id":"b1cd2552.4cf22","type":"function","z":"951db226.0212d","name":"content type","func":"const types = {\n    \"js\": \"application/javascript\",\n    \"css\": \"text/css\",\n    \"html\": \"text/html\"\n}\nlet ext = msg.filename.split(\".\").pop();\nlet headers = {};\nif (ext in types) {\n    headers[\"content-type\"] = types[ext];\n}\nmsg.headers = headers;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["c59a91c8.bf72b8"]]},{"id":"94dce980.80cd18","type":"http in","z":"951db226.0212d","name":"","url":"/app/main","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["5d921fd2.6a2c3"]]},{"id":"5d921fd2.6a2c3","type":"function","z":"951db226.0212d","name":"resolve file","func":"msg.filename = \"main.html\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["cb3ebbea.5e0278"]]},{"id":"ed358429.91db68","type":"influxdb in","z":"951db226.0212d","influxdb":"97c4463.ad034b8","name":"get forecast","query":"select * from weather where location='modrany' and provider='met.no' and time > now()-1h and time < now()+1d","rawOutput":false,"precision":"h","retentionPolicy":"","x":390,"y":360,"wires":[["c59a91c8.bf72b8"]]},{"id":"c516fccd.7ffae","type":"http in","z":"951db226.0212d","name":"","url":"/app/weather","method":"get","upload":false,"swaggerDoc":"","x":230,"y":360,"wires":[["ed358429.91db68"]]},{"id":"3372e791.4e123","type":"http in","z":"951db226.0212d","name":"","url":"/app/weather/current","method":"get","upload":false,"swaggerDoc":"","x":250,"y":420,"wires":[["436db051.95cd9"]]},{"id":"436db051.95cd9","type":"influxdb in","z":"951db226.0212d","influxdb":"97c4463.ad034b8","name":"get current","query":"SELECT * FROM env WHERE location = 'Nexus-TH@3' ORDER BY time DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":420,"wires":[["c59a91c8.bf72b8"]]},{"id":"48858075.8ab08","type":"http response","z":"52f89531.2adadc","name":"","statusCode":"","headers":{},"x":950,"y":420,"wires":[]},{"id":"cb8b9789.510358","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"prepared","sql":"SELECT DISTINCT routes.route_id, route_short_name\nFROM stops\nLEFT JOIN stop_times ON stops.stop_id=stop_times.stop_id\nLEFT JOIN trips ON stop_times.trip_id=trips.trip_id\nLEFT JOIN routes ON trips.route_id=routes.route_id\nWHERE stop_name = $stop\n","name":"GTFS stop -> lines","x":530,"y":140,"wires":[["48858075.8ab08"]]},{"id":"3ed9aace.3c23ae","type":"catch","z":"52f89531.2adadc","name":"","scope":null,"uncaught":true,"x":400,"y":540,"wires":[["d547a9e9.5f828"]]},{"id":"2dd09b3d.b0a424","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"prepared","sql":"SELECT DISTINCT trip_headsign\nFROM stops\nLEFT JOIN stop_times ON stops.stop_id=stop_times.stop_id\nLEFT JOIN trips ON stop_times.trip_id=trips.trip_id\nWHERE stop_name = $stop\n","name":"GTFS stop -> headsigns","x":550,"y":220,"wires":[["48858075.8ab08"]]},{"id":"4b5a6b31.081304","type":"http in","z":"52f89531.2adadc","name":"","url":"/gtfs/:what","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["f880f691.c74fa8"]]},{"id":"f880f691.c74fa8","type":"switch","z":"52f89531.2adadc","name":"","property":"req.params.what","propertyType":"msg","rules":[{"t":"eq","v":"stops","vt":"str"},{"t":"eq","v":"lines","vt":"str"},{"t":"eq","v":"headsigns","vt":"str"},{"t":"eq","v":"departures","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":170,"y":320,"wires":[["e05706f1.005378"],["e07f84cb.b6a398"],["8aaf7512.8307e8"],["6255257b.6ed96c"],["477052e.84df42c"]]},{"id":"477052e.84df42c","type":"change","z":"52f89531.2adadc","name":"404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"Not Found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":420,"wires":[["48858075.8ab08"]]},{"id":"d547a9e9.5f828","type":"change","z":"52f89531.2adadc","name":"500","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[["48858075.8ab08"]]},{"id":"6255257b.6ed96c","type":"function","z":"52f89531.2adadc","name":"validate + build query","func":"const DAYS = [\"sunday\", \"monday\", \"tuesday\", \"wednesday\", \"thursday\", \"friday\", \"saturday\"];\nfunction escape(x) { return `'${x.replace(/'/g, \"''\")}'`; }\n\nlet params = {};\n[\"stop_ids\", \"trip_headsign\", \"route_id\"].forEach(p => {\n    if (p in msg.payload) {\n        let v = msg.payload[p];\n        params[p] = (p == \"stop_ids\" ? v.split(\",\").map(escape) : escape(v));\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\n\nlet date = new Date();\nif (msg.payload.date) {\n    let parts = msg.payload.date.split(\"-\").map(Number);\n    date.setFullYear(parts.shift());\n    date.setMonth(parts.shift()-1);\n    date.setDate(parts.shift());\n}\nlet d = [\n\tdate.getFullYear(),\n\t(date.getMonth()+1).toString().padStart(2, \"0\"),\n\tdate.getDate().toString().padStart(2, \"0\")\n].join(\"\");\nlet dow = DAYS[date.getDay()];\n\nmsg.topic = `\nSELECT departure_time\nFROM stop_times\nLEFT JOIN trips ON trips.trip_id = stop_times.trip_id\nWHERE \n    stop_id IN (\n        ${params.stop_ids.join(\",\")} \n    )\n    AND trip_headsign = ${params.trip_headsign}\n    AND route_id = ${params.route_id}\n    AND service_id IN (\n        SELECT service_id\n        FROM calendar \n        WHERE ${dow}=1 AND start_date <= '${d}' AND end_date >= '${d}'\n        UNION SELECT service_id\n        FROM calendar_dates\n        WHERE date = '${d}' AND exception_type = 1\n        EXCEPT SELECT service_id\n        FROM calendar_dates\n        WHERE date = '${d}' AND exception_type=2\n    )\n`;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["83d7aaa2.a6d1f8"]]},{"id":"83d7aaa2.a6d1f8","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"msg.topic","sql":"","name":"GTFS departures","x":610,"y":300,"wires":[["61281dfa.e51454"]]},{"id":"61281dfa.e51454","type":"function","z":"52f89531.2adadc","name":"sort","func":"function toNumber(time) { return Number(time.replace(/\\D/g, \"\")); }\n\nfunction CMP(a, b) {\n    return toNumber(a) - toNumber(b);\n}\n\nmsg.payload = msg.payload.map(item => item[\"departure_time\"]);\nmsg.payload.sort(CMP)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":380,"wires":[["48858075.8ab08"]]},{"id":"c69a1ba6.7eacb","type":"change","z":"52f89531.2adadc","name":"400","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["48858075.8ab08"]]},{"id":"65acb6ad.01f7f","type":"inject","z":"52f89531.2adadc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":600,"wires":[["5a5c4c32.f03a64"]]},{"id":"5a5c4c32.f03a64","type":"exec","z":"52f89531.2adadc","command":"/home/pi/.node-red/gtfs/update.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":600,"wires":[["46034f55.9d1508"],["46034f55.9d1508"],["46034f55.9d1508"]]},{"id":"46034f55.9d1508","type":"debug","z":"52f89531.2adadc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":600,"wires":[]},{"id":"e07f84cb.b6a398","type":"function","z":"52f89531.2adadc","name":"validate","func":"msg.params = {};\n[\"stop\"].forEach(p => {\n    if (p in msg.payload) {\n        msg.params[\"$\" + p] = msg.payload[p];\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["cb8b9789.510358"]]},{"id":"44a7fa4a.f0bc9c","type":"catch","z":"52f89531.2adadc","name":"","scope":["e07f84cb.b6a398","8aaf7512.8307e8","6255257b.6ed96c"],"uncaught":false,"x":430,"y":480,"wires":[["c69a1ba6.7eacb"]]},{"id":"8aaf7512.8307e8","type":"function","z":"52f89531.2adadc","name":"validate","func":"msg.params = {};\n[\"stop\"].forEach(p => {\n    if (p in msg.payload) {\n        msg.params[\"$\" + p] = msg.payload[p];\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["2dd09b3d.b0a424"]]},{"id":"83e3deec.1d2778","type":"sqlite","z":"52f89531.2adadc","mydb":"41bbc0c.8d44bc","sqlquery":"prepared","sql":"SELECT stop_id\nFROM stops\nWHERE stop_name = $stop\n","name":"GTFS stop -> stop_ids","x":540,"y":80,"wires":[["48858075.8ab08"]]},{"id":"e05706f1.005378","type":"function","z":"52f89531.2adadc","name":"validate","func":"msg.params = {};\n[\"stop\"].forEach(p => {\n    if (p in msg.payload) {\n        msg.params[\"$\" + p] = msg.payload[p];\n    } else {\n        throw new Error(`Missing the \"${p}\" value`);\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["83e3deec.1d2778"]]},{"id":"216ea720.c06618","type":"credentials","z":"8a9205c0.84e56","name":"","props":[{"value":"payload.appid","type":"msg"}],"x":370,"y":380,"wires":[["26d9fb01.15d774"]]}]